/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

test_files/pola*
test_files/rnr*
test_files/OUTPUT*
test_files/ignore

.DS_Store

.ruby-*

# rspec failure tracking
.rspec_status
